@charset "ISO-8859-1";

body {
	background-Color: #b3d9ff;
}

a {
	display: block;
	text-align: center;
	font-size: 1.8em;
}

div {
	border: thin solid black;
	text-Align: center;
	width: 130px;
	height: 200px;
	border-Radius: 10px;
	font-size: 1.5em;
	float: left;
	margin: 7px;
	line-height: 190px;
}
button{
	position:relative;
	top:260px;
	left:20%;
	border: 2px solid black;
	background: white;
	border-radius: 100%;
}

footer{
	position: absolute;
	top: 700px;
	padding:5em;
}
.onPile {
	
	clear: left;
	position: absolute;
	top:20px;
	left:50px;
}

#Ablage {
	border: solid white;
	position: absolute;
	background-Color: #F2F2F2;
	width: 250px;
	height: 250px;
	right: 100px;
	top: 10px;
}

#Nachzieh {
	border: solid white;
	position: absolute;
	background-Color: #00994d;
	width: 130px;
	height: 200px;
	left: 100px;
	top: 35px;
	border-Radius: 10px;
	font-size: 1.2em;
}

#Hand {
	position: absolute;
	border: none;
	width: 730px;
	height: 430px;
	padding: 10px;
	top: 300px;
	left: 19%;
	margin: 15px;
}